version: "3.9"
services:
  database:
    image: postgres:16
    restart: always
    volumes:
      - ../database_data/:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - ../.env

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "2345:80"
    env_file:
      - ../.env
    depends_on:
      - database

  redis:
    image: redis:7
    container_name: redis_app
    restart: always
    stop_signal: SIGKILL
    ports:
      - "6379:6379"

  server_app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    restart: always
    stop_signal: SIGKILL
    volumes:
      - ../logs/:/logs
    ports:
      - "5000:5000"
    env_file:
      - ../.env
    depends_on:
      - database
      - redis

  celery:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: celery_app
    command: celery --app=src.celery_init:celery_app worker --loglevel=info --logfile=../logs/celery.log
    volumes:
      - ../logs/:/logs
    env_file:
      - ../.env
    depends_on:
      - redis

  flower:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: flower_app
    command: celery --app=src.celery_init:celery_app flower
    env_file:
      - ../.env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
      - CELERY_RESULT_BACKEND=redis://redis:6379
    depends_on:
      - celery
      - redis
    ports:
      - "5555:5555"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ../prometheus/config.yml:/etc/prometheus/config.yml
    command:
      - '--config.file=/etc/prometheus/config.yml'
    depends_on:
      - server_app

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ../grafana/data:/var/lib/grafana
    env_file:
      - ../.env
    depends_on:
      - prometheus
    user: "1000"